:root {
  --TLO-CIEMNY: #000000;
  --TLO-JASNY: #FFFFFF;
  --TLO-PANEL-CIEMNY: #333333;
  --TLO-PANEL-JASNY: #F5F5F5;
  --TLO-PRZYCISK-CIEMNY: #222222;
  --TLO-PRZYCISK-JASNY: #EEEEEE;
  --TEKST-PRZYCISK-CIEMNY: #B0B0B0;
  --TEKST-PRZYCISK-JASNY: #000000;
  --AKCENT-TEKST-CIEMNY: #FF00FF;
  --AKCENT-TEKST-JASNY: #000000;

  --TLO: var(--TLO-CIEMNY);
  --TLO-PANEL: var(--TLO-PANEL-CIEMNY);
  --TLO-PRZYCISK: var(--TLO-PRZYCISK-CIEMNY);
  --TEKST-PRZYCISK: var(--TEKST-PRZYCISK-CIEMNY);
  --AKCENT-TEKST: var(--AKCENT-TEKST-CIEMNY);

  --HEXAGON-KOLOR: #F5F5F5;
  --TROJKAT-JASNY-COLOR: #F5F5F5;
  --TROJKAT-CIEMNY-COLOR: #333333;
}

:root[WYBOR_MOTYW="JASNY"] {
  --TLO: var(--TLO-JASNY);
  --TLO-PANEL: var(--TLO-PANEL-JASNY);
  --TLO-PRZYCISK: var(--TLO-PRZYCISK-JASNY);
  --TEKST-PRZYCISK: var(--TEKST-PRZYCISK-JASNY);
  --AKCENT-TEKST: var(--AKCENT-TEKST-JASNY);

  --HEXAGON-KOLOR: #333333;
}
