body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #000000;
    color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.row {
    margin: 20px 0;
    text-align: center;
    width: 100%;
}
.links {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10px;
}
.links li {
    margin: 5px 0;
}
.links a {
    text-decoration: none;
    padding: 10px 15px;
    color: #FF00FF;
    background: #333333;
    border-radius: 5px;
    transition: background 0.3s, filter 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-width: 120px;
    box-sizing: border-box;
}
.links a:hover {
    background: #222222;
}
.links a img {
    max-height: 30px;
    width: auto;
    filter: grayscale(100%) brightness(50%);
    transition: filter 0.3s;
}
.links a:hover img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(75%) saturate(5815%) hue-rotate(293deg) brightness(111%) contrast(129%);
}
.open-all {
    display: block;
    width: 70%;
    margin: 20px auto;
    padding: 8px 15px;
    background: #333333;
    color: #FF00FF;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.open-all:hover {
    background: #222222;
}
.open-all img {
    max-height: 30px;
    width: auto;
    filter: grayscale(100%) brightness(50%);
    transition: filter 0.3s;
}
.open-all:hover img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(75%) saturate(5815%) hue-rotate(293deg) brightness(111%) contrast(129%);
}
#open-new-tab {
    background: #333333;
    transition: background 0.3s;
}
#open-new-tab:hover {
    background: #222222;
}
#open-new-tab img {
    filter: grayscale(100%) brightness(0%);
    transition: filter 0.3s;
}
#open-new-tab:hover img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(75%) saturate(5815%) hue-rotate(293deg) brightness(111%) contrast(129%);
}
.password-manager-instruction {
    margin-top: 20px;
    color: #FFFFFF;
    background: #333333;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: none;
    width: 80%;
    max-width: 600px;
    margin: 0 auto 20px auto;
    position: relative;
}
.password-manager-instruction .open-tab-btn {
    width: 75%;
    background: #222;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 0;
    padding: 0;
}
.password-manager-instruction .open-tab-btn img {
    width: 100%;
    max-height: 50px;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333333;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: background 0.3s, filter 0.3s;
}
.close-btn:hover {
    background: #222222;
}
.close-btn img {
    max-height: 30px;
    width: auto;
    filter: grayscale(100%) brightness(0%);
    transition: filter 0.3s;
}
.close-btn:hover img {
    filter: brightness(0) saturate(100%) invert(24%) sepia(75%) saturate(5815%) hue-rotate(293deg) brightness(111%) contrast(129%);
}
