.KOZLOWSKISEBASTIAN {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: var(--bg-dark);
    transition: background-color 0.3s;
}

.KOZLOWSKISEBASTIAN_CIEMNY {
    background: var(--bg-dark);
}

.KOZLOWSKISEBASTIAN_JASNY {
    background: var(--bg-light);

}
